:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
}
html {
  font-family: var(--font-intel-one), system-ui, sans-serif;
  background-color: black;
  color: white;
}
a {
  color: var(--accent-dark);
}
body {
  @apply grid place-content-between min-h-screen justify-center p-20 pb-0 md:p-4;
}
body > div {
  @apply container;
}
